<%@ CodeTemplate Inherits="CslaTemplateHelperCS" Language="CSharp" TargetLanguage="CSharp" Description="Generates a static Database class." %>
<%@ Property Name="Info" Type="CslaObjectInfo" Optional="false" Category="Business Object" Description="Definition of the CSLA Object (just to get some project info)" %>
<%@ Property Name="Errors" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return errors to master.cst" %>
<%@ Property Name="Warnings" Type="System.Text.StringBuilder" Optional="false" Category="Options" Description="Allows the template to return warnings to master.cst" %>

<%@ Assembly Name="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator" %>
<%@ Import Namespace="CslaGenerator.Metadata" %>
<%@ Import Namespace="CslaGenerator.CodeGen" %>
<%@ Import Namespace="CslaGenerator.Util" %>

using System;

namespace <%= GetContextUtilitiesNamespace(CurrentUnit, GenerationStep.DalObject) %>
{
    /// <summary>
    /// Defines the config info for <%= GetDalName(CurrentUnit) %>
    /// </summary>
    public class DalConfig<%= GetDalName(CurrentUnit) %> : IDalConfig<%= GetDalName(CurrentUnit) %>
    {
        public string ConnectionString { get; set; }
        
        public DalConfig<%= GetDalName(CurrentUnit) %>(string connectionString)
        {
            ConnectionString = connectionString;
        }
    }
}